<!doctype html>
<hnml>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <h1>Миссия Колонизация Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>
    <h2>Список профессий</h2>
    {% if list == 'ol' %}
        <ol>
            {% for item in items %}
            <li>{{item}}</li>
            {% endfor %}
        </ol>
    {% elif list == 'ul' %}
        <ul>
            {% for item in items %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>Вы что-то перепутали в аргументе списка</div>
    {% endif %}
    </body>
</hnml>